EventsListData/Connected Services/EventService/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EventsListService.Contracts.Models.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EventsListService.Contracts.Models.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57209/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfEventDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EventDto" nillable="true" type="tns:EventDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEventDto" nillable="true" type="tns:ArrayOfEventDto" />
  <xs:complexType name="EventDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ImageUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrganizerId" type="xs:int" />
      <xs:element minOccurs="0" name="SubcategoryId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventDto" nillable="true" type="tns:EventDto" />
  <xs:complexType name="ArrayOfCategoryDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CategoryDto" nillable="true" type="tns:CategoryDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategoryDto" nillable="true" type="tns:ArrayOfCategoryDto" />
  <xs:complexType name="CategoryDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Subcategories" nillable="true" type="tns:ArrayOfSubcategoryDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoryDto" nillable="true" type="tns:CategoryDto" />
  <xs:complexType name="ArrayOfSubcategoryDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SubcategoryDto" nillable="true" type="tns:SubcategoryDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSubcategoryDto" nillable="true" type="tns:ArrayOfSubcategoryDto" />
  <xs:complexType name="SubcategoryDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubcategoryDto" nillable="true" type="tns:SubcategoryDto" />
  <xs:complexType name="ArrayOfOrganizerDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrganizerDto" nillable="true" type="tns:OrganizerDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrganizerDto" nillable="true" type="tns:ArrayOfOrganizerDto" />
  <xs:complexType name="OrganizerDto">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Emails" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Phones" nillable="true" type="q2:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrganizerDto" nillable="true" type="tns:OrganizerDto" />
</xs:schema>